<div class="comments">
  {% if site.disqus %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    (function () {
    var disqus_config = function () {
    this.page.url = window.location.href.replace("index.html");  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = {% if page.comments-id %}'{{ page.comments-id }}'{% else %}window.location.pathname.replace("index.html"){% endif %}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    // DON'T EDIT BELOW THIS LINE
	var d = document,
    s = d.createElement("script");
    s.src = "//{{ site.disqus }}.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the<a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% else %}
  请确认 Disqus 配置正确。<br>
  Powered by Disqus{% endif %}
</div>
