<div class="comments">
{% if site.giscus.repo %}
  <script src="{{ site.giscus.src | default: '//giscus.app' }}/client.js"
    data-repo="{{ site.giscus.repo }}"
    data-repo-id="{{ site.giscus.repoID }}"
    data-category="{{ site.giscus.category }}"
    data-category-id="{{ site.giscus.categoryID }}"
    data-mapping="{{ site.giscus.mapping | default: 'pathname' }}"
    data-strict="{{ site.giscus.strict | default: 1 }}"
    data-reactions-enabled="{{ site.giscus.reactions | default: 1 }}"
    data-emit-metadata="{{ site.giscus.emit-metadata | default: 0 }}"
    data-input-position="{{ site.giscus.input-position | default: 'top' }}"
    data-theme="{{ site.giscus.theme | default: 'light' }}"
    data-lang="{{ site.giscus.lang | default: 'zh-CN' }}"
    crossorigin="{{ site.giscus.crossorigin | default: 'anonymous' }}"
    async>
  </script>
{% else %}
  请确认 Giscus 配置正确。<br>
  Powered by Giscus
{% endif %}
</div>