<div class="comments">
{% if site.twikoo.envID %}
  <div id="tcomment"></div>
  <script src="//cdn.staticfile.org/twikoo/{{ site.twikoo.version}}/twikoo.all.min.js"></script>
  <script>
  twikoo.init({
    envId: '{{ site.twikoo.envID }}', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
    el: '#tcomment', // 容器元素
    region: '{{ site.twikoo.region }}', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
    path: {% if page.comments-id %}'{{ page.comments-id }}'{% else %}window.location.pathname.replace('index.html'){% endif %}, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
    lang: '{{ site.twikoo.lang | default: "zh-CN" }}', // 用于手动设定评论区语言，支持的语言列表 https://github.com/imaegoo/twikoo/blob/main/src/client/utils/i18n/index.js
  })
  </script>
{% else %}
  请确认网站 Twikoo 配置正确。<br>
  Powered by Twikoo {{ site.twikoo.version }}
{% endif %}
</div>