<!DOCTYPE html>
<html {% if site.gray == 2 %}class="gray"{% endif %}>
  {% include head.html %}
  <body style="overflow-x: hidden;">
    {% include nav.html %}

    {% if page.toc==true %}
      <aside class="toc">
        {% include toc.html html=content %}
      </aside>
    {% endif %}

    <div id="main" role="main" class="wrapper-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include analytics.html %}

    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/back-to-top.js"></script>
    <button id="btn-top" title="Go to top">&#11165</button>
  </body>

  {% if page.toc==true %}
  <script>
    document.getElementById("main").classList.add("withtoc");
  </script>
  {% endif %}

  <div class="wrapper-footer-mobile">
    <footer class="footer">
      {% include footer.html %}
    </footer>


</html>
